body {
  background-color: black;
}


::-webkit-scrollbar {
  width: 5px;
}


::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey; 
  border-radius: 5px;
}
 
::-webkit-scrollbar-thumb {
  background: grey; 
  border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
  background:#2f3b4b; 
}

.custom-tooltip {
  background-color: black;
  color: white;
  padding: 0px 2px;
  opacity: .8;
}